@import "./var";

$namespace: 'ha';

@mixin setName($class) {
    $SETNAME: $namespace + '-' + $class !global; // 调用全局变量
    .#{$SETNAME} {
        @content;
    }
}


@mixin tiedName($class) {
    $TIEDNAME: $namespace + '-' + $class;
    @at-root {
        &.#{$TIEDNAME} {
            @content;
        }
    }
}

@mixin sizeName($class) {
    $TIEDNAME: $namespace + '_' + $class;
    @at-root {
        &.#{$TIEDNAME} {
            @content;
        }
    }
}

@mixin tiedWhen($name) {
    $TIEDWHEN: 'is' + '_' + $name;
    @at-root {
        &.#{$TIEDWHEN} {
            @content;
        }
    }
}