// Color
$default-color: #0f96dc !default;
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-disabled: #c0c4cc !default;

// Type
// -- primary --
$default-background-color-primary: $default-color !default;
$default-border-color-primary: $default-color !default;
$default-font-color-primary: $color-white !default;
// -- surress --
$default-background-color-success: #67c23a !default;
$default-border-color-success: #67c23a !default;
$default-font-color-success: $color-white !default;
// -- warning --
$default-background-color-warning: #e6a23c !default;
$default-border-color-warning: #e6a23c !default;
$default-font-color-warning: $color-white !default;
// -- danger --
$default-background-color-danger: #f56c6c !default;
$default-border-color-danger: #f56c6c !default;
$default-font-color-danger: $color-white !default;
// -- disabled --
$default-disabled-background-color: $color-white !default;
$default-disabled-border-color: #ebeef5 !default;
$default-disabled-font-color: #c0c4cc !default;

// Size
// -- medium --
$default-size-medium-padding: 10px 20px !default;
$default-size-medium-fontSize: 14px !default;
// -- small --
$default-size-small-padding: 9px 15px !default;
$default-size-small-fontSize: 12px !default;
// -- mini --
$default-size-mini-padding: 7px 15px !default;
$default-size-mini-fontSize: 12px !default;