@charset "UTF-8";
@import "../common/var";
@import "../common/mixins";

.ha-upload-list {
    overflow: hidden;
    width: 100%;
    height: auto;
    overflow: hidden;
    .ha-upload-item {
        display: inline-block;
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 10px 10px 0;
        border-radius: 6px;
        border: 1px solid #c0ccda;
        box-sizing: border-box;
        background-color: #ffffff;
        overflow: hidden;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
        &_image {
            display: block;
            width: 100%;
            height: 100%;
        }
        &_actions {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #ffffff;
            font-size: 20px;
            background-color: rgba(0,0,0,.5);
            opacity: 0;
            transition: opacity .35s;
            &:hover {
                opacity: 1;
            }
        }
    }
}